.post-header {
	margin-bottom: $spacing-unit;

	h1 {
		padding-top: 30px;
	}
}

.post-title {
	font-size: 42px;
	line-height: 1;

	@include media-query($on-laptop) {
		font-size: 36px;
	}
}

.post-content {
	margin-bottom: $spacing-unit;

	h2, h3, h4, h5 {
		margin-top: $spacing-unit;
	}

	h2 {
		font-size: 32px;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}


.post {
	article {
		@extend .white-shadow-box;
	}
}

