.site-header {
	background-color: $brand-color;
	border-top: 5px solid $brand-color-dark;
	border-bottom: 3px solid lighten($brand-color, 10%);
	min-height: 56px;

	// Positioning context for the mobile navigation icon
	position: relative;
}

.site-title {
	font-size: 26px;
	line-height: 56px;
	letter-spacing: -1px;
	margin-bottom: 0;
	padding-left: 7px;
	padding-right: 7px;
	float: left;
	color: $white;
	display: inline-block;
	transition: transform 0.2s ease-out;

	&,
	&:visited {
		color: $white;
	}

	&:hover {
		background-color: $brand-color-dark;
	}
}

.site-nav {
	float: right;
	line-height: 56px;

	.menu-icon {
		display: none;
	}

	.page-link {
		color: $white;
		line-height: 56px;
		padding-left: 5px;
		padding-right: 5px;
		display: inline-block;
		transition: transform 0.2s ease-out;

		// Gaps between nav items, but not on the first one
		&:not(:first-child) {
			margin-left: 20px;
		}

		&:hover {
			background-color: $brand-color-dark;
		}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: 30px;
		background-color: $brand-color-dark;
		border: 1px solid $brand-color-dark;
		border-radius: 5px;
		text-align: right;

		.menu-icon {
			background-color: $brand-color-dark;
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				width: 18px;
				height: 15px;

				path {
					fill: $white;
				}
			}
		}

		.trigger {
			clear: both;
			display: none;
		}

		&:hover .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			padding: 5px 10px;
		}
	}
}